<!DOCTYPE html>

<html>
    <head>
        <title>OpenMusic</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script data-main="@routes.Assets.at("javascripts/main")" src="@routes.Assets.at("javascripts/libs/require.js")"></script>
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div>
                    <a class="brand" href="#">OpenMusic</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Videos</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div id="content"></div>
        </div>

    </body>
</html>
