<table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Nombre</th>
                  <!-- th>Ruta</th -->
                </tr>
              </thead>
              <tbody>
                {{#songs}}
                <tr data-id="{{uuid}}">
                  <td>{{uuid}}</td>
                  <td>{{nombre}}</td>
                  <!-- td>{{path}}</td -->
                </tr>
                {{/songs}}
              </tbody>
            </table>